<form method="post" action="/merchants">
  <label for="merchant[name]">Name</label>
  <input type="text" name="merchant[name]" /><br />

  <label for="merchant[description]">Description</label>
  <input type="text" name="merchant[description]" /><br />

  <label for="merchant[address]">Address</label>
  <input type="text" name="merchant[address]" /><br />

  <label for="merchant[phone]">Phone</label>
  <input type="text" name="merchant[phone]" /><br />

  <label for="merchant[email]">Email</label>
  <input type="text" name="merchant[email]" /><br />

  <label for="merchant[web]">Web</label>
  <input type="text" name="merchant[web]" /><br />

  <input type="submit" value="Submit" />
</form>
